<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('style.css')}}" type="text/css" media="all">
        {% endblock %}
        <title>IP13</title>
    </head>
    <body>
        <div id="container">
            
            <header>
                {% image %}
                    <a href="{{ path('index')}}"><img id="logo" src="{{asset('/img/logo.png')}}" alt="IP13" height="60" width="60"></a><span>IP13</span>
                {% endimage %}
            </header>

            <div id="content">
        
                <div id="welcome" class="identification">
                    <h1>Consolide tes bases en Reseau avec IP13</h1>

                    <form id="identification" action="{{ path('login_check') }}" method="post">
                        <table>
                            <tr>
                                <td id="nom">
                                    <label for="username">Username:</label>
                                </td>
                                
                                <td class="fields">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                                </td>
                                <tr>
                                <td id="mdp">
                                    <label for="password">Password:</label>
                                </td>
                                <td class="fields">
                                    <input type="password" id="password" name="_password" />
                                </td>
                                {#
                                    If you want to control the URL the user
                                    is redirected to on success (more details below)
                                #}
                                    <input type="hidden" name="_target_path" value="/index" />

                            </tr>
                        </table>

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}


                        <p id="btns">
                            <input id="btnConnexion" type="submit" value="Connexion"/>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>