{% extends "exo.html.twig" %}

    {% block content %}

		<div id="welcome">
			<h1>Faire des exercices</h1>
			<p>Ici vous pouvez faire des exercices sur nimporte quel chapitre.</p>
		</div>

        {{ parent() }}

        <section>
            <article>
                <header>
                    <h1>Exercice : Class IP</h1>
                </header>

                <p>
                    Soit une adresse IP : {{ip.getBytes()}}<br>
                <p>
                    On veut un masque de sous réseau pour {{ nbSubNet }} sous réseaux
                </p>
                <br>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <p>{{ form_label(form.bytes, 'Masque ') }} :
                    {{ form_widget(form.bytes) }}
                </p>

                <p id="btns">
                    <input type="submit" id="form_save" name="form[save]" value="Valider" />
                    {% do form.save.setRendered %}
                    {{ form_end(form) }}
                </p>

                </p>




            </article>
        </section>

    {% endblock %}


