{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1></h1>
            <p></p>
        </div>

        <aside id = "chapter">
            <h1>Exercices</h1>
            <ul>

                <li><a href="{{ path('convert') }}">Exo conversion</a></li>

                <li><a href="{{ path('exoClass')}}">Exo classe</a></li>

                <li><a href="{{ path('exoMask')}}">Exo masque</a></li>

                <li><a href="#">Exo table de routage</a></li>

            </ul>
        </aside>

        <section>
            <article>
                <br>
                <p>Ce n'est pas le bon masque</p>
                <p>En effet le bon masque était : {{ mask.bytes }}</p>
                <br>
                <p><a href="{{ path('exoMask')}}">Réessayer l'éxercice</a></p>

            </article>
        </section>

    {% endblock %}