{% extends "base.html.twig" %}

    {% block logo %}
        <a href="{{ path('index')}}"><img id="logo" src="{{asset('/img/logo.png')}}" alt="IP13" height="60" width="60"></a><span>IP13</span>
    {% endblock %}

    {% block content %}

        <div id="welcome">
            <h1 id="titreChapter">Cours : {{ cours.nom }}</h1>
            <p id="chapterText">Ici vous pouvez consulter les chapitres du cours {{ cours.nom }}</p>
        </div>

        <aside id = "chapter">
            <h1> {{ cours.nom }} </h1>
            <ul>

                    {% for chapitre in cours.chapitres %}
                        <li class="chapterName"><a href="{{ path('showChapitre', {"id": chapitre.id}) }}">{{ chapitre.nom }}</a></li>
                    {% endfor %}

            </ul>
        </aside>

        <!--<script>
            var titreChapter = document.getElementById("titreChapter");
            var chapterText = document.getElementById("chapterText")

            var chapter = document.getElementsByClassName("chapterName");

            for(var i=0;i<chapter.length;i++) {

                chapter[i].onclick = function (e) {
                    var nom = ((e.target).innerText);

                };
            }
        </script> -->



    {% endblock %}