{% extends "base.html.twig" %}



			
			{% block content %}
		
				<div id="welcome">
					<h1>Consolide tes bases en Reseau avec IP13</h1>
					<p>Bienvenue à toi petit padawan. Sur ce site tu pourras suivre ton apprentissage dans le domaine du réseau,  apprendre et t'exercer, à continuer... </p>
				</div>
				
				<aside id = "chapter">
					<h1> Reseau </h1>
					<ul>
						{% if cours != null %}
                            {% for cour in cours %}
                                <li class="chapterName"><a href="{{ path('showCours', {"id": cour.id}) }}">{{ cour.nom }}</a></li>
                            {% endfor %}
                        {% endif %}
					</ul>
        		</aside>
					
				<section>

                    {% if chapitres != null %}
                        {% for chapitre in chapitres %}
                            <article>
                                <header>
                                    <h1>{{ chapitre.nom }}</h1>
                                    <hr>
                                </header>

                                <p>{{ chapitre.text[:225] }}...</p>

                                <footer>
                                    <p><a href="{{ path('showChapitre', {"id": chapitre.id}) }}">>Lien vers le chapitre</a></p>
                                </footer>
                            </article>
                        {% endfor %}
                    {% endif %}

				</section>
			
			{% endblock %}
