<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('style.css')}}" type="text/css" media="all">
		{% endblock %}
		<title>IP13</title>
	</head>

	<body>
	
		<div id="container">
			
			<header>
                <a href="index"><img id="logo" src="img/logo.png" alt="IP13" height="60" width="60"></a><span>IP13</span>
			</header>
			
			<div id="content">
		
				<div id="welcome" class="identification">
					<h1>Consolide tes bases en Reseau avec IP13</h1>
					
					<form id="identification" method="post">
						<table>
							<tr>
							<td id="nom">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
								{{ form_label(form.nom) }} :
							</td>
							<td class="fields">
								{{ form_widget(form.nom) }}
							</td>
							<tr>
							<td id="prenom">
								{{ form_label(form.prenom) }} :
							</td>
							<td class="fields">
								{{ form_widget(form.prenom) }}
							</td>
							</tr>
							<tr>
							<td id="username">
								{{ form_label(form.username) }} :
							</td>
							<td class="fields">
								{{ form_widget(form.username) }}
							</td>
							</tr>
							<tr>
							<td id="password">
								{{ form_label(form.password) }} :
							</td>
							<td class="fields">
								{{ form_widget(form.password) }}
							</td>
							</tr>
							<td id="dateNaissance">
								{{ form_label(form.dateNaissance) }} :
							</td>
							<td class="fields">
								{{ form_widget(form.dateNaissance) }}
							</td>
							<tr>
								<td id="sexe">
									{{ form_label(form.sexe) }} :
								</td>
								<td class="fields">
									{{ form_widget(form.sexe) }}
								</td>
							<tr>
						</table>
						
						<p id="btns">
                            <input type="submit" id="form_save" name="form[save]" value="Inscription" />
                            {% do form.save.setRendered %}
                            {{ form_end(form) }}
						</p>
					</form>

				</div>
				
			</div>
			
		</div>
	</body>
</html> 
