<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('/web/style.css')}}" type="text/css" media="all">
        {% endblock %}
        <title>IP13</title>

    </head>

    <body>

        <div id="container">

            <div id="account">

                {% if app.user == null %}
                    <a href="login">Connexion</a> | <a href="{{ path('newEleve')}}">Inscription</a>
                {% else %}
                    <a href="{{ path('compte')}}">{{ app.user.nom }}</a> | <a href="logout">Deconnexion</a>
                {% endif %}

            </div>

            <header>
                {% block logo %}
                    {% image %}
                        <a href="{{ path('index')}}"><img id="logo" src="{{asset('/web/img/logo.png')}}" alt="IP13" height="60" width="60"></a><span>IP13</span>
                    {% endimage %}
                {% endblock %}
                <nav>
                    <ul id="menu">
                        <li><a href="#">Cours</a>
                            <ul>
                                <li><a href="{{ path('showAllCours')}}">Trouver un cours</a></li>
                                <li><a href="{{ path('newCours')}}">Ajouter un cours</a></li>
                                <li><a href="{{ path('newChapitre')}}">Ajouter un chapitre</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('exercises')}}">Exercices</a></li>
                        <li><a href="{{ path('progression')}}">Progression</a></li>
                        <li><a href="#">Forum</a></li>
                    </ul>
                </nav>
            </header>

            <div id="content">{% block content %}{% endblock %}</div>

        </div>
    </body>
</html>